<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>198080770535-aoslnr0aputau2ifurej6s74r98mbqvd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.198080770535-aoslnr0aputau2ifurej6s74r98mbqvd</string>
	<key>API_KEY</key>
	<string>AIzaSyCBCWG8dlJbbFDevgAXm44qF48VrRAP79k</string>
	<key>GCM_SENDER_ID</key>
	<string>198080770535</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app-6</string>
	<key>PROJECT_ID</key>
	<string>app6-f1b21</string>
	<key>STORAGE_BUCKET</key>
	<string>app6-f1b21.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:198080770535:ios:bd7c9638e1cb54279fcd42</string>
	<key>DATABASE_URL</key>
	<string>https://app6-f1b21-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>